*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hero section */
.hero-fade-overlay {
position: absolute;

    width: 42%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 3;
}

.hero-blur-overlay {
    position: absolute;
    width: 42%;
    height: 100%;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
}

.hero-title {
    position: absolute;
    top: 85%;
    left: 33%;
    width: 150%;
    transform: translate(-20%, 100%);
    z-index: 5;
}

@media (max-width: 991px) {
    .hero-title {
        position: static;
        width: 100%;
        transform: none;
        padding: 1rem;
    }
}

.hero-content {
    position: relative;
    z-index: 4;
}

.hero-illustration {
    width: 80%;
}

@media (min-width: 992px) {
    .hero-illustration {
        transform: translateY(-50px);
    }
}

/* End Hero section */

/* Menu */

@media (max-width: 991.98px) {
    .menu-content {
        border-right: none !important;
    }
}

/* End Menu */

/* Introduction section */

.presentation-section {
    max-width: 100%;
}

@media (min-width: 992px) {
    .presentation-section {
        width: 50%;
    }
}
.button-download {
    max-width: 12rem;
    border: none;
    box-shadow: 0 5px 0 #111;
    transition: all 0.15s ease;
}

@media (min-width: 992px) {
    .button-download:hover {
        transform: translateY(3px);
        box-shadow: 0 1px 0 #111;
    }
}

/* End Introduction section */

/* Features section */

.icon{
    font-size: 6rem;
}

/* End Features section */

/* How to use section */

/* Text background*/
.feature-text {
    background-color: #1b1846;
    width: 100%;
    max-width: 450px;
    height: 390px;
    overflow-y: auto;
}

/* Phone size */
.feature-phone {
    width: 280px;
}

/* Margin */
.mb-n4 { margin-bottom: -1.5rem !important; }
@media (min-width: 992px) {
    .me-lg-n4 { margin-right: -2rem !important; }
    .mb-lg-0 { margin-bottom: 0 !important; }
}

/* Arrow button */
.feature-next {
    width: 50px;
    height: 50px;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    opacity: 1;
    background-color: #1b1846;
    border-radius: 50%;
}

@media (max-width: 991.98px) {

    /* Arrow button Mobile */
    .feature-next {
        position: absolute !important;
        right: 13px !important;
        top: 45% !important;
        bottom: auto !important;
        transform: translateY(-50%) !important;
        z-index: 10;
    }

}

/* Carousel dots */
.feature-indicators {
    position: relative !important;
    gap: 10px;
}
.feature-indicators button {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background-color: #888787 !important;
    opacity: 1 !important;
    border: none !important;
    margin: 0 !important;
}
.feature-indicators button.active {
    background-color: #1b1846 !important;
}

/* End How to use section */
/* Contact section */

.contact-section{
    margin-top: 8rem;
}